In [23]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [24]:
import selenium
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException

In [25]:
from selenium import webdriver

In [26]:
driver=webdriver.Chrome(r'C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe')

In [ ]:
#driver.close()

# Question 2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data

Answer 2 is below

In [27]:
driver.get('https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru')

In [28]:
urls=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    urls.append(i.get_attribute('href'))

In [29]:
len(urls)

20

In [30]:
urls

['https://www.naukri.com/job-listings-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-3-to-5-years-181021501061?src=jobsearchDesk&sid=1634679347265731&xp=1&px=1',
 'https://www.naukri.com/job-listings-opportunity-data-scientist-sr-data-scientist-roles-incedo-technology-solutions-ltd-pune-bangalore-bengaluru-delhi-ncr-2-to-5-years-181021005369?src=jobsearchDesk&sid=1634679347265731&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-harman-connected-services-corporation-india-pvt-bangalore-bengaluru-5-to-10-years-191021501649?src=jobsearchDesk&sid=1634679347265731&xp=3&px=1',
 'https://www.naukri.com/job-listings-ecosystem-senior-data-scientist-accenture-solutions-pvt-ltd-bangalore-bengaluru-5-to-9-years-181021906293?src=jobsearchDesk&sid=1634679347265731&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-eversana-india-private-limited-pune-bangalore-bengaluru-5-to-9-years-181021004382?src=jobsearchDesk&sid=1634679347265731&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ab-inbev-bangalore-bengaluru-3-to-8-years-191021003858?src=jobsearchDesk&sid=1634679347265731&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-piramal-retail-finance-group-mumbai-bangalore-bengaluru-bangalore-1-to-3-years-181021901006?src=jobsearchDesk&sid=1634679347265731&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-groww-bangalore-bengaluru-6-to-10-years-191021500122?src=jobsearchDesk&sid=1634679347265731&xp=8&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-4-to-9-years-121021907623?src=jobsearchDesk&sid=1634679347265731&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-data-scientist-for-bangalore-kolkata-locations-mpokket-kolkata-bangalore-bengaluru-3-to-8-years-141021001893?src=jobsearchDesk&sid=1634679347265731&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-manager-senior-manager-mount-talent-consulting-private-limited-hyderabad-secunderabad-pune-bangalore-bengaluru-delhi-ncr-8-to-13-years-181021608520?src=jobsearchDesk&sid=1634679347265731&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-manager-senior-manager-mount-talent-consulting-private-limited-hyderabad-secunderabad-pune-bangalore-bengaluru-delhi-ncr-8-to-13-years-181021008518?src=jobsearchDesk&sid=1634679347265731&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-sg-analytics-pvt-ltd-bangalore-bengaluru-4-to-9-years-191021500973?src=jobsearchDesk&sid=1634679347265731&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-nlp-meltwater-bangalore-bengaluru-3-to-8-years-181021501772?src=jobsearchDesk&sid=1634679347265731&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-real-world-evidence-strategy-execboardinasia-bangalore-bengaluru-5-to-10-years-191021500623?src=jobsearchDesk&sid=1634679347265731&xp=15&px=1',
 'https://www.naukri.com/job-listings-immediate-requirement-for-data-scientist-calibehr-business-support-services-private-limited-mumbai-hyderabad-secunderabad-pune-chennai-tamia-bangalore-bengaluru-delhi-ncr-2-to-7-years-191021008336?src=jobsearchDesk&sid=1634679347265731&xp=16&px=1',
 'https://www.naukri.com/job-listings-urgent-opening-for-data-scientist-data-science-engineers-peoplelogic-business-solutions-pvt-ltd-bangalore-bengaluru-5-to-10-years-191021008806?src=jobsearchDesk&sid=1634679347265731&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-python-machine-learning-algorithms-altimax-business-solutions-mumbai-hyderabad-secunderabad-pune-bangalore-bengaluru-4-to-9-years-020921908794?src=jobsearchDesk&sid=1634679347265731&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-data-scientist-it-services-firm-pylon-management-consulting-pvt-ltd-hyderabad-secunderabad-pune-gurgaon-gurugram-bangalore-bengaluru-5-to-6-years-131021906976?src=jobsearchDesk&sid=1634679347265731&xp=19&px=1',
 'https://www.naukri.com/job-listings-sde2-data-scientist-multi-recruit-bangalore-bengaluru-2-to-7-years-141021501578?src=jobsearchDesk&sid=1634679347265731&xp=20&px=1']

In [11]:
#driver.get(url)

In [31]:
job_title2=[]
company_names=[]
locations_list=[]
description=[]

In [32]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        job2=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title2.append(job2.text.replace('/n','new line'))
    except:
        job_title2.append('-')
        
    try:
        job_desc=driver.find_element_by_xpath('//section[@class="job-desc"]')
        description.append(job_desc.text)
    except:
        description.append('-')

In [33]:
print(len(job_title2),len(description))

20 20

In [34]:
job_title2

['Data Scientist',
 '-',
 'Senior Data Scientist',
 '-',
 'Senior Data Scientist',
 'Senior Data Scientist',
 '-',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Sr. Data Scientist / Data Scientist For Bangalore & Kolkata Locations',
 'Data Scientist- Manager / Senior Manager',
 'Data Scientist- Manager / Senior Manager',
 'Data Scientist',
 'Data Scientist - NLP',
 'Data Scientist, Real World Evidence Strategy',
 'Immediate requirement For Data Scientist',
 'Urgent opening For Data Scientist / Data Science Engineers',
 'Senior Data Scientist - Python/Machine Learning Algorithms',
 'Data Scientist/Senior Data Scientist - IT Services Firm',
 'SDE2 Data Scientist']

In [35]:
description

['Job description\nUses predictive modeling, statistics, Machine Learning, Data Mining, and other data analysis techniques to collect, explore, and extract insights from structure and unstructured data .\nDevelop software, algorithms and applications to apply mathematics to data, perform large scale experimentation and build data driven apps to translate data into intelligence, solve a variety of business problems and enable business strategy.\nAssists business with casual inferences observations with finding patterns , relationships in data.\nMust possess strong understanding of internal business segment (stakeholders) and possess strong written and communication skills.\nTypically requires expertise in relational database structures, research methods, machine learning, Cloud based technologies, Big Data technologies (i.e.\nHadoop , HBase, Lucene/Solr), analytics packages (i.e.\nR, Mahout, Matlab, Octave, Weka), scripting languages (i.e.\nPython, Perl), programing languages (i.e.\nJava, C/C , SQL).\nTypically possesses advanced degree in Computer Science, Mathematics, Machine Learning, Operation Research, and Statistics or equivalent expertise.\n\n\nCandidates need to hold at least a masters degree (or higher) in Computer Science/Machine Learning/AI/Data Science 3-5 years of relevant experience in building AI/ML models and in using Python (Scikit-learn, TensorFlow/Pytorch) and SQL (or equivalent).\nExperience in using data analysis techniques and ML methods like classification, regression pattern finding, clustering, dimensionality reduction, anomaly detection etc.\nExperience with Hadoop, Spark is an advantage Deep Knowledge of classical AI algorithms and Deep Learning techniques is a must.\nGreat analytical skills and demonstrated ability of independent and creative thinking.\nHighly motivated strong team player with the ability to work both independently and collaboratively within a team.\nHas strong analytical skills, including the abilities to scope out business problems to be solved, start from ambiguous problem statements, identify and access relevant data, make appropriate assumptions, perform insightful analysis and draw conclusions relevant to the business problem.\nAbility to present information professionally and concisely with supporting data.\nExperience in creating powerful data driven visualizations to describe ML modeling results to stakeholders.\nRoleClinical research Scientist\nIndustry TypeIT Services & Consulting\nFunctional AreaResearch & Development\nEmployment TypeFull Time, Permanent\nRole CategoryPharmaceutical & Biotechnology\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nComputer scienceData analysisMachine learningPerlData miningMATLABAnalyticsSQLPythonHBase',
 '-',
 'Job description\n\nBachelor s degree or higher in Computer Science, Data Science, Engineering, Mathematics, Applied Statistics, or related field.\nExperience 3+ years with machine learning in industry environment.\nExperience 5+ years coding in Python, Scala, or similar.\nAdvanced understanding of probability, statistics, machine learning, data science.\nExpertise in data correlation/feature analysis, analysis of machine learning models, and optimizing models for accuracy.\nProficiency in transforming and cleaning data working across multiple models.\nAbility to research and manipulate complex and large data sets (both distributed and non-distributed).\nStrong fundamentals in problem solving, algorithm design, and model building.\nAbility to solve complex business problem through logical and creative thinking.\nStrong ability to synthesize complex information.\nExcellent Code writing capability in Python and familiarity with relevant ML packages.\nFamiliarity with libraries such as Pandas, Scikit-learn etc.\nExperience of working on Fraud detection solution.\nExcellent knowledge of anomalies/outliers detection using unsupervised algorithms clustering, Local Outlier Factor, Isolation Forest , etc.\nDeep learning experience would be added advantage.\nExperience with Spark DataBricks frameworks.\nInterest in applying data science in the fields of compliance.\nStrong written and verbal communication skills.\n  RoleTechnical Support - Non Voice\nIndustry TypeElectronic Components / Semiconductors\nFunctional AreaCustomer Success, Service & Operations\nEmployment TypeFull Time, Permanent\nRole CategoryNon Voice\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData ScienceSoftware EngineeringData ScientistAlgorithm DesignComputer ScienceSparkMachine LearningDeep LearningPython',
 '-',
 'Job description\nAbout the job\nData science professional to design, implement and deploy advanced machine learning / artificial intelligence algorithms across multiple domains including, but not limited to, healthcare, media, programmable ads, retail, and manufacturing. These analysis tasks will involve developing original code and leveraging EVERSANAs existing healthcare analytics platform to provide analytic content in support of EVERSANA project work, RFP responses and other business needs. This professional will be a member of EVERSANAs analytics team.\n\nESSENTIAL DUTIES AND RESPONSIBILITIES:\nOur employees are tasked with delivering excellent business results through the efforts of their teams. These results are achieved by:\nDevelop and apply data mining and machine learning techniques and models to extract analytic insights from healthcare and non-healthcare data sets\nResponsible for review, generation, and delivery of analytic products in support of project work, RFP responses and other business needs\nSupport and supervise the development of visualizations and presentations for client deliverables\nDevelop software solutions and applications using Python, and/or R\nInterface with EVERSANA analysts, data scientists, clinicians and program managers and with EVERSANA customers\nRespond to additional ad-hoc analysis requests\nAll other duties as assigned\nEXPECTATIONS OF THE JOB:\nTravel (10% or less)\nHours (40 Hours per week, 5 days of the week)\nMINIMUM KNOWLEDGE, SKILLS AND ABILITIES:\nThe requirements listed below are representative of the experience, education, knowledge, skill and/or abilities required.\nEducation - BS/MS/PhD degree in Engineering, Computer Science, Mathematics, Bioinformatics, Physics\nMinimum 5+ years experience\nPractical knowledge of statistics, statistical inference, and machine learning algorithms (deep learning, LSTM, SVM, CNN, GAN, and reinforcement learning)\nWorks independently and is a self-starter\nMS PowerPoint presentation development skills\nClient interface and presentation skills\nProficiency in the following programming and analysis tools:\nPython (pandas, scikit-learn, Numpy, Scipy, and database access packages)\nSQL / (MySQL)\nAWS (Redshift)\nMicrosoft Excel\nR programming language\nVisualization tools\nLinux (Red Hat, CentOS); Python and software development in a Linux environment\nSignificant consideration will be given to prior publications, independent software projects completed, and non-proprietary code authored by the candidate\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaData Science & Analytics\nEmployment TypeFull Time, Permanent\nRole CategoryBusiness Intelligence & Analytics\nEducation\nDoctorate :Any Doctorate\nKey Skills\nHealthcare AnalyticsAlgorithmsArtificial IntelligenceMachine LearningPythonSQL',
 'Job description\n1. PURPOSE OF ROLE\nUnderstand and solve complex business problems with sound analytical prowess and help business with impactful insights in decision making\nEnsure any roadblocks in implementation is brought to the notice of Analytics Manager so that project timelines do not get affected\nDocument every aspect of the project in standard way, for future purposes\nArticulate technical complexities to the senior leadership in a simple and easy manner\n\n2. KEY TASKS AND ACCOUNTABILITIES\nLead discussions with business stakeholders to understand key areas of concern for the business and translate these into Data Science problems\nParticipate in the solution building process within a multi-organizational environment and facilitating inputs from numerous stakeholders\nWork with Data Engineers to gather the required data for Feature Engineering and Model Building\nImplement best in class solutions by optimizing over various ML and Statistical algorithms\nEvaluate models and intervention strategies by designing and executing various A/B test experiments\nWork with Machine Learning Engineers to deploy models with ML Ops best practices and processes\nDevelop communication and presentation materials for Senior and Executive stakeholders to understand progress, results and challenges with various ML Models\nAnalyze results and present to stakeholders\n\n3. QUALIFICATIONS, EXPERIENCE, SKILLS\nDegree in Engineering, Mathematics or Computers\n4-5 years Data Science, Machine Learning\nExpertise strongly desired in building statistical and machine learning models for classification, regression, forecasting, anomaly detection, clustering etc.\nProven skills in translating statistics into insights. Sound knowledge in statistical inference, hypothesis testing and A/B testing\nProficiency with Python and Fundamental ML libraries for machine learning such as (Numpy, Pandas Scikit-learn, Statsmodels, Matplotlib etc.)\nBeginner to Intermediate understanding of advanced machine learning concepts such as Neural Networks and Deep Learning\nExcellent coding skills in - SQL, Python, PySpark\nFamiliarity with Deeplearning frameworks PyTorch, Tensorflow (optional)\nEnglish (Fluent)\nMicrosoft Office (mandatory)\nReporting Tool (preferably Power BI)\nHands-on experience in implementation of various machine learning algorithms\nGood communication and interpersonal skills\nRoleSoftware Development - Other\nIndustry TypeSoftware Product\nFunctional AreaEngineering - Software\nEmployment TypeFull Time, Permanent\nRole CategorySoftware Development\nEducation\nUG :Any Graduate\nKey Skills\nStatistical ModelingMachine LearningPython\nData ScienceDeep LearningSQL\nSkills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Job description\n  A Staff Data Scientist is responsible for building data science and machine learning solutions closely with our Product and Business stakeholders.\nWork closely with a team of data scientists and solve business problems by applying advanced Machine Learning algorithms and complex statistical models on large volumes of data.\nDemonstrate strong thought-leadership and consult with product and business stakeholders to build, scale and deploy holistic data science products after successful prototyping.\n  Mentor and guide junior team members in achieving data science outcomes and handle multiple products and initiatives.\nFollow industry best practices, stay up to date with and extend the state of the art in machine learning research and practice, drive innovation by contributing towards publications and patents.\nParticipate in internal technical councils and represent the organization in forums that involve community of data scientists across industry and academia.\nPromote and support company policies, procedures, mission, values, and standards of ethics and integrity.\n  EXPERTISE AND QUALIFICATIONS\n  Key Skills:\n  Knowledge of the foundations of machine learning and statistics and has made core contributions to the area in practice.\nSolid experience working with state-of-the-art supervised and unsupervised machine learning algorithms on real-world problems.\nStrong Python coding skills.\n  Ability to work in a big data ecosystem - expert in SQL/Big query.\nStrong ability to understand the business and good stakeholder management capabilities and has mentored data scientists in developing ML solutions.\nExperience playing the role of full-stack data scientist and taking solutions to production.\nGood to have experience in customer analytics and financial analytics\nYears Of Experience: 6 to 10 Years\nRoleCTO\nIndustry TypeInternet\nFunctional AreaStrategic & Top Management\nEmployment TypeFull Time, Permanent\nRole CategoryTop Management\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData ScienceAlgorithmsFinancial ServicesData ScientistBig DataCustomer AnalyticsMachine LearningPythonStakeholder Management',
 'Job description\nWe are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.\n\nResponsibility:\nAnalyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads.\nTakeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads.\nTakeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology.\nTo build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform\nOptimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.\n\nRequirements:\n- Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/ RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc.\n- Programming experience with Python\n- Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance\n- AdServing domain Experience is an added advantage.\nRoleData Scientist\nIndustry TypeTelecom / ISP\nFunctional AreaData Science & Analytics\nEmployment TypeFull Time, Permanent\nRole CategoryData Science & Machine Learning\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData SciencePerformance OptimizationAlgorithmsRNNLSTMArtificial IntelligenceBig DataData MiningStatistical AnalysisDeep LearningPython',
 'Job description\nJob Description:\n1. Must have\na. Programming – Python (Preferred) / R\nb. ML Models – i. Regression – Linear, Logistic, Multinomial, Mixed effect\nii. Classification – Bagging & Boosting (Random Forest), Decision tree, SVM\niii. Clustering – K-Means, hierarchical, DB-Scan\niv. Time series – ARIMA, SARIMA, ARIMAX, Holt-Winters, Multi TS (VAR), UCM\nv. Neural Networks (Deep learning), Naive Bayes\nc. Excel and SQL\nd. Dimensionality Reduction – PCA, SVD etc.\ne. Optimization Techniques – Linear programming, Gradient Descent, Genetic Algorithm\nf. Cloud – Understanding of Azure / AWS offerings, Setting up ML pipeline of cloud\nGood to have –\na. Visualization – Tableau / Power BI / Looker / QlikView\nb. Data management – HDFS, Spark, Advanced Excel\nc. Agile Tools – Azure DevOps, JIRA\nd.Pyspark\ne. Big Data/Hive Database\nf: IDE: Pycharm\n\n\nRoleData Scientist\nIndustry TypeSoftware Product\nFunctional AreaData Science & Analytics\nEmployment TypeFull Time, Permanent\nRole CategoryData Science & Machine Learning\nEducation\nUG :Any Graduate\nKey Skills\nData ScienceClassificationPython\nPysparkAzureArimaNeural NetworksBig DataTableauHdfsDeep LearningRandom ForestSQLRHiveCloudTime SeriesSparkAWSPycharm\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nData Scientist- Manager / Senior Manager\n\nExp- 8 to 15\n\nLocation - Bangalore / Gurgaon /pune / hyderabad\n\nDuties and Responsibilities:\n\nManagement: Line manager for several analysts; Lead initiatives to improve the team morale, camaraderie, and collaboration; Work well with the team members to maintain high credibility,\nClient projects and Internal development: Analytics lead on client projects responsible for data science application development and its productionization; Take responsibility for requirements gathering, solution design, development, and developing a production level data\nData Science Practice: Develop implementation guidelines, quality control procedures, and documentation for projects; Ensure adherence of the best practices in the project;\n\nEducational Background/qualifications\n\nB Tech/M Tech from reputed engineering colleges\nMasters/M Tech in Computer Science\nMaster degree in Statistics/Econometrics/ Economics from reputed institute\nM.Phil/Ph.D in Statistics/Econometrics or related field.\n\nRequirements:\n\nStrong on leadership skills and values like delighting customers, taking initiative, being trustworthy, and working collaboratively\n8-10 years of data science experience using statistics, machine learning, or forecasting\nAt least 2-3 years of experience of leading junior team members on projects using machine learning (like Decision Trees, Gradient Boosting, Random Forest, and Neural Networks) or forecasting techniques (ESM, ARIMA, ARIMAX, UCM) to meet analytics requirements\nAdvanced expertise in and ability to train team members in Advanced Python for Data Science, Machine Learning or Forecasting, and SQL.\nExceptional communication skills. Demonstrated ability to communicate complex concepts to business audiences\nAbility to work effectively in global teams and customers in different time zones\nExperience in Retail, CPG, FMCG, consumer goods or manufacturing.\nProficient in data handling suites PYTHON, Spark, SQL.\nGood to have Exposure to and understanding of cloud platforms like GCP, Azure, AWS.\nGood knowledge & working on Visualization tools like Tableau, POWER BI, etc.\nRoleHead - Data Science\nIndustry TypeTelecom / ISP\nFunctional AreaData Science & Analytics\nEmployment TypeFull Time, Permanent\nRole CategoryData Science & Machine Learning\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :MS/M.Sc(Science) in Statistics\nKey Skills\nPower BiArimaArtificial IntelligenceNeural NetworksTableauMachine LearningForecastingRandom ForestSQLData ScienceGradient Boostingforecasting techniquesDecision TreesSparkARIMAXESMPython',

In [36]:
driver.get('https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru')

In [37]:
companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="fe549658-71e3-4464-80d9-b17d36c0263d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="5de24e8d-3d9b-4da1-a2ad-46bd8c4d87d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="286ab4be-1099-482d-8f99-8343923bba58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="cb3c86ef-8e82-4851-95ee-d282d39fcfd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="154e556b-e8d7-4397-a01c-9d385741f1f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="76c2e5f8-6bd6-4af3-84c0-045b7200e176")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8f1e5995-f3dc-413b-b112-dcb8b86b204a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d4294578-dbd3-4f75-95a6-beb4f8662c86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e54bf2ca-833e-42ef-9a4d-583a621ab715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="fefd07cc-0730-49f8-895a-6f6218df7b70")>]

In [38]:
for i in companies_tags:
    company=i.text
    company_names.append(company)
company_names[0:10]

['Intel',
 'Incedo Technology Solutions Ltd.',
 'Harman Connected Services Corporation India Pvt.',
 'Accenture Solutions Pvt Ltd',
 'EVERSANA INDIA PRIVATE LIMITED',
 'Ab Inbev',
 'Piramal - Retail Finance Group',
 'Groww',
 'Huawei Technologies',
 'mPokket']

In [39]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="908fb5cc-db95-4a82-9f16-93fb70aee2d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="25360a09-65e2-4a18-8127-89a1b1e63302")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="44497387-b6c9-4629-9fc5-8a3d26d80d68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="20f88bb6-2394-461c-8658-1a5fb3bf2759")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="fc8f110c-3251-45f6-af55-71557f88c422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="a1261bae-ee7a-4c28-8b7d-e6ed97c40199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d50c071c-a891-4826-9780-fac8d1bb0149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="85b463e2-725c-4482-83b4-8ed3df3fb63d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="895faf64-9786-49c1-8878-64a56d9ea409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="76a949cf-b9a9-4210-9526-9f31c5a62a61")>]

In [40]:
for i in location_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru, Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru']

In [41]:
des_tags=driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')
des_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d25d8141-6d3c-421a-b22e-5bf7344555f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d95f1c75-ada2-4bdf-ae6b-9786ab91fca1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="36f68e0e-7dfa-4d6a-9691-efe8c4389d92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="40c9a710-5ace-482b-8062-718f79708195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="57a1aed1-3adf-4c65-b5cb-0ebb3dc4b64a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e90e3cab-490f-4f0e-ae22-a9680cb38496")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="bf8cb8b2-91a6-431f-aa45-e0458fe7e3d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="5124f799-e123-4b50-8bac-6e7316aca07a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="f35e63f3-f6cb-402d-b2ea-31f58b7c3e08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e06d7b9b-1c49-4d71-9bd9-4691e4de06de")>]

In [42]:
tit_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
tit_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="7f082796-6f16-4993-8a35-8de4b677e5ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="db382923-21a4-41c7-bfe9-3a79b70676f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="71e94ac1-6298-4657-8eee-10f825b21cfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e609a1e8-2e72-4010-b3d9-17e1ae4e468f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="a072919a-b7d9-4276-a424-d8b446272055")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="661e8872-3f24-42b3-8db2-54593c3ecc60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="3949a372-9503-4643-976d-838a249ad379")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8bf7b684-ef74-4cee-a615-8f9a8d81f16c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="661668f2-3f9f-4439-b901-db577e2224d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8cb1dd1d-6bc7-4298-b1b0-122806140c8d")>]

In [45]:
for i in des_tags:
    des=i.text
    describe.append(des)
describe[0:10]

['Experience in using data analysis techniques and ML methods like classification, regres...',
 'Good power point presentation skills and excellent team player',
 'Bachelor s degree or higher in Computer Science, Data Science, Engineering, Mathematics...',
 'Graduation / post-graduation computers / Engineering / Statistics from a reputed instit...',
 'The requirements listed below are representative of the experience, education, knowledg...',
 '1. PURPOSE OF ROLEUnderstand and solve complex business problems with sound analytical ...',
 'Should be able to work on the clickstream data Should be well versed and willing to wor...',
 'A Staff Data Scientist is responsible for building data science and machine learning so...',
 'Strong hands-on experience in implementing and validating big data algorithms and model...',
 'Programming Python (Preferred) / R Must have Good to have']

In [46]:
for i in tit_tags:
    tit=i.text
    jtitle.append(tit)
jtitle[0:10]

['Data Scientist',
 'Job Opportunity || Data Scientist/ Sr. Data Scientist roles',
 'Senior Data Scientist',
 'Ecosystem Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Sr. Data Scientist / Data Scientist For Bangalore & Kolkata Locations']

In [44]:
describe=[]
jtitle=[]

In [47]:
print(len(company_names),len(locations_list),len(describe),len(jtitle))

20 20 20 20

In [48]:
jobs=pd.DataFrame({})
jobs['tit_tags']=jtitle[0:10]
jobs['company']=company_names[0:10]
jobs['location_tags']=locations_list[0:10]
jobs['desc_tags']=describe[0:10]

In [49]:
jobs

,tit_tags,company,location_tags,desc_tags
0,Data Scientist,Intel,Bangalore/Bengaluru,Experience in using data analysis techniques a...
1,Job Opportunity || Data Scientist/ Sr. Data Sc...,Incedo Technology Solutions Ltd.,"Pune, Bangalore/Bengaluru, Delhi / NCR",Good power point presentation skills and excel...
2,Senior Data Scientist,Harman Connected Services Corporation India Pvt.,Bangalore/Bengaluru,Bachelor s degree or higher in Computer Scienc...
3,Ecosystem Senior Data Scientist,Accenture Solutions Pvt Ltd,Bangalore/Bengaluru,Graduation / post-graduation computers / Engin...
4,Senior Data Scientist,EVERSANA INDIA PRIVATE LIMITED,"Pune, Bangalore/Bengaluru",The requirements listed below are representati...
5,Senior Data Scientist,Ab Inbev,Bangalore/Bengaluru,1. PURPOSE OF ROLEUnderstand and solve complex...
6,Data Scientist,Piramal - Retail Finance Group,"Mumbai, Bangalore/Bengaluru, Bangalore",Should be able to work on the clickstream data...
7,Lead Data Scientist,Groww,Bangalore/Bengaluru,A Staff Data Scientist is responsible for buil...
8,Lead Data Scientist,Huawei Technologies,Bangalore/Bengaluru,Strong hands-on experience in implementing and...
9,Sr. Data Scientist / Data Scientist For Bangal...,mPokket,"Kolkata, Bangalore/Bengaluru",Programming Python (Preferred) / R Must have G...

# Question 1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data

Answer 1 is below

In [50]:
driver.get('https://www.naukri.com/')

In [51]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('data Analyst')
search_loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys('Bangalore/Bengaluru')

In [52]:
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [53]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore-bengaluru?k=data%20analyst&l=bangalore%2Fbengaluru'

In [54]:
driver.get(url)

In [55]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]

In [56]:
titles_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="ddc370cf-7869-4840-a974-0e2dd549d287")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="9e27bb8b-ae44-47a8-ada2-834fc0946a34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="b1d49711-aa0e-4b1d-a34b-2f03cf8b9820")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="be9dafca-b431-403a-8ebf-025138baf42c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="c78a1969-c3a1-4906-bcf1-58d5c9c79430")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="984c5000-517a-41f8-963a-0f684d52aa5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8ac3ce90-2678-4a24-aed2-5851c8562660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="819e1ba6-ae5f-4ab5-b10f-debf7bdaaa96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="bbaa522e-a368-44da-a9a8-f210979f357d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="980b58a9-3e70-4ea6-bd9e-79a47e9c93e1")>]

In [57]:
for i in titles_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Analyst',
 'Senior Data Analyst',
 'Data Analyst For Text / Sentiment Analysis',
 'Senior Data Analyst (Compensation Insights and Analytics)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Openings For Data Analyst',
 'Data Analyst (Contract)',
 'Associate Data Analyst']

In [58]:
companies_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="c70f8e55-111e-42b7-8fae-592928b91446")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="9727ff51-2cfd-4390-b598-1f5462fedb52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8d8e9d77-6e4d-42e2-b8ed-76394faf11bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="aec5cd98-0950-4c1d-84b2-5cb1fdab1a44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="0d01033e-852d-47a1-8293-32c6da304ae2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="674d80e6-04f9-4893-8722-bd16580b3b7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="0c8f11f2-80ec-47a5-a0a8-87cd52872575")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="a7be53aa-3b61-428d-ab31-f9bb0d98f19e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="38cc6464-8cf1-4639-87b7-7f265cdfe43a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e696b02a-ed47-44ef-af2e-6ab966c56ee4")>]

In [59]:
for i in companies_tags:
    company=i.text
    company_names.append(company)
company_names[0:10]

['i-Link Research Solutions',
 'Indegene',
 'FUTURLYTIC PRIVATE LIMITED',
 'Walmart Labs',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Cleartrip',
 'Integrated Digital Systems']

In [60]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="abcdbb1f-8edd-4594-816a-df60f4277883")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="09c55de3-609c-4f40-8818-40be5831d08a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8ae7e4a9-401a-4550-92ee-67f744d0f212")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="697adb6a-64bc-4601-a27c-44c53fd45a37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="05337483-6a08-4fa5-98c8-86e456b735a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="7cbc4009-b34a-4ec3-ac0b-952313c0e47d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="a1dbcb31-bde4-4fc2-a5dc-fa9b1bcfb979")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="65aa492c-9ceb-4e9f-8bed-748d95ee4498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="7fe2824e-3d64-4a0c-bca5-0089f70d9493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e3349005-ba77-4e48-a883-e9ea6f265aab")>]

In [61]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['3-7 Yrs',
 '3-7 Yrs',
 '0-1 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '8-13 Yrs',
 '0-3 Yrs',
 '2-4 Yrs',
 '0-2 Yrs']

In [62]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="c9b5aad2-28d6-483b-8b7f-be10bb6c3646")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="39f9d7dd-564d-405e-9c96-18129bcc8d27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="16ad5520-92b7-483c-a9f4-1c9ffdac5563")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="824f5f7d-80bd-4f7d-8600-6775e4231a49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="2e35f6ec-091f-41e3-917c-5b8a8ba4ae54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="4d489892-2ca0-41ff-a796-46fe4ea47d41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="3eef7e9a-b5d2-45da-b6c4-f947b65a2b89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="471aca69-d506-4c27-b45d-86169f1fb177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="0d800bd4-9913-476c-beea-49a5882e2d1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="1b95c4f0-3b0f-4485-af09-21ce9ee90bf8")>]

In [63]:
for i in location_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Hebbal Kempapura)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [64]:
print(len(job_title),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [65]:
jobs=pd.DataFrame({})
jobs['title']=job_title[0:10]
jobs['company']=company_names[0:10]
jobs['experience_tags']=experience_list[0:10]
jobs['location_tags']=locations_list[0:10]

In [66]:
jobs

,title,company,experience_tags,location_tags
0,Data Analyst,i-Link Research Solutions,3-7 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst,Indegene,3-7 Yrs,Bangalore/Bengaluru
2,Data Analyst For Text / Sentiment Analysis,FUTURLYTIC PRIVATE LIMITED,0-1 Yrs,Bangalore/Bengaluru(Hebbal Kempapura)
3,Senior Data Analyst (Compensation Insights and...,Walmart Labs,5-8 Yrs,Bangalore/Bengaluru
4,Data Analyst,Allegis Services India Pvt. Ltd.,2-5 Yrs,Bangalore/Bengaluru
5,Data Analyst,Allegis Services India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru
6,Data Analyst,Allegis Services India Pvt. Ltd.,8-13 Yrs,Bangalore/Bengaluru
7,Openings For Data Analyst,Allegis Services India Pvt. Ltd.,0-3 Yrs,Bangalore/Bengaluru
8,Data Analyst (Contract),Cleartrip,2-4 Yrs,Bangalore/Bengaluru
9,Associate Data Analyst,Integrated Digital Systems,0-2 Yrs,Bangalore/Bengaluru

# Question 10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

Answer is below:

In [67]:
driver.get('https://www.amazon.in/s?k=laptop&ref=nb_sb_noss_2')

In [68]:
#Location for Intel Core i7
filter_button=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in filter_button:
    if i.text=="Intel Core i7":
        i.click()
        break

In [69]:
#Location for Intel Core i9
filter_button=driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in filter_button:
    if i.text=="Intel Core i9":
        i.click()
        break

In [70]:
laptitle=[]
laprating=[]
lapprice=[]

In [71]:
titles = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

#Using for loop for iterations:
#Handling Null Values.
for i in titles:
    if i.text is None :
        laptitle.append(" ") 
    else:
        laptitle.append(i.text.replace('\n',' ').strip('/n'))
print(laptitle[6:16])

['HP Pavilion Gaming 11th Gen Intel Core i7 15.6-inch(39.6 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/GTX 1650 4GB Graphics/Win 10/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx', 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)', 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH', 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)', 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm) FHD IPS 300 nits Antiglare 100% RGB Thin and Light Laptop (16GB/1TB HDD+128GB SSD/Windows 10/MS Office/3Yr Onsite Warranty/1.7 Kg),20VEA0HBIH', 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596', 'Lenovo Legion 5 10th Gen Intel Core i7-10750H 15.6" (39.63cm) FHD IPS Gaming Laptop (16GB/512GB SSD/Windows 10/NVIDIA GTX 1650 4GB/120Hz Refresh Display/Phantom Black/2.3Kg), 82AU00PNIN', 'ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD 240Hz/3ms, Intel Core i7-11370H, GeForce RTX 3060 6GB Graphics, Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10 Home/Gray/2 Kg) FX516PM-AZ153TS', 'LG Gram 16 Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, Win-10, Iris Xe Graphics, 16-inches (40.64 cms), Thunderbolt 4, USC -C x 2 (with Power), 1.19 kg, 3 Yr Warranty (16Z90P, Black)', 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN']

In [72]:
print(len(laptitle))

30

In [73]:
#scraping the tags of prices:
prices = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

#Using for loop for iterations:
#Handling Null Values.
for i in prices:
    if i.text is None :
        lapprice.append(" ") 
    else:
        lapprice.append(i.text.replace('\n',' ').strip('/n'))
print(lapprice[0:5])

['53,990', '84,990', '84,990', '85,990', '53,990']

In [74]:
print(len(lapprice))

37

In [75]:
#scraping the full Laptop ratings for all the laptops.
urls = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
get_URL = []
for i in urls[:10]:
    get_URL.append(i.get_attribute('href'))
for url in get_URL:
    driver.get(url)
    try:
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()                                                      
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        laprating.append(rating.text.replace(' ',' ').strip('/n'))   
    except NoSuchElementException:
        laprating.append(" ")
print(laprating[0:10])

['4.2 out of 5', '4.5 out of 5', '4.3 out of 5', '4.1 out of 5', '4.2 out of 5', '3.3 out of 5', '3.6 out of 5', '4.5 out of 5', '4.5 out of 5', ' ']

In [76]:
lap=pd.DataFrame({})
lap['title_a']=laptitle[0:10]
lap['price_tags']=lapprice[0:10]
lap['ratings_tags']=laprating[0:10]

In [77]:
lap

                                             title_a price_tags  ratings_tags
0  Mi Notebook Horizon Edition 14 Intel Core i7-1...     53,990  4.2 out of 5
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....     84,990  4.5 out of 5
2  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...     84,990  4.3 out of 5
3  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....     85,990  4.1 out of 5
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...     53,990  4.2 out of 5
5  Life Digital Laptop 15.6-inch (39.62 cms) (Int...     24,990  3.3 out of 5
6  HP Pavilion Gaming 11th Gen Intel Core i7 15.6...     89,990  3.6 out of 5
7  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...     91,790  4.5 out of 5
8  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....     84,990  4.5 out of 5
9  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...     89,990

# Question 9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

Answer is below:

In [78]:
driver.get('https://www.myntra.com/shoes')

In [79]:
#Location for price filter
filter_button=driver.find_elements_by_xpath('//label[@class="common-customCheckbox vertical-filters-label"]/li[2]')
for k in filter_button:
    if k.text=="Rs.6897.0 TO Rs.13595.0":
        k.click()
        break

In [80]:
#Location for color filter
filter_button=driver.find_elements_by_xpath('//l1[@class="colour-listItem"]/label/span')
for j in filter_button:
    if j.text=="Black":
        j.click()
        break

# Question 3 : Salary and location filter in naukri.com

Answer is below

In [81]:
driver.get('https://www.naukri.com/')

In [82]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('data Scientist')
search_loc=driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]')
search_loc.send_keys('Delhi/NCR')

In [83]:
search_btn=driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [84]:
driver.get('https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr')

In [85]:
#Location for Location filter
filter_button=driver.find_elements_by_xpath('//span[@class="ellipsis fleft"]')
for j in filter_button:
    if j.text=="3-6 Lakhs":
        j.click()
        break

In [86]:
#Location for Location filter
filter_button=driver.find_elements_by_xpath('//span[@class="ellipsis fleft"]')
for j in filter_button:
    if j.text=="Delhi / NCR":
        j.click()
        break

In [87]:
job_title3=[]
job_location3=[]
company_name=[]
exp_req=[]

In [88]:
title_j=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_j[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="5801dbac-363b-43e3-950f-de3170596509")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="71cf5983-34a3-46f2-b4c6-dc8a8539df69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="2bb35293-46c3-4c64-b629-13892155fed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="b6c339bf-cbc4-4143-a34b-849780245968")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e18a5142-f51e-4493-a099-f739919c741b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="ee5b8c39-d66e-4332-a1c6-122ddc2b0a57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="b78fe9f6-b139-4c66-a106-1962cacb3cbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8aaa5faa-b865-403f-897b-b4eb2bf3f705")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="ec4eb80b-e7f3-41d2-aba1-d054386e3806")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="7c42f995-3e6b-4069-9b6c-37de07c9a36f")>]

In [89]:
for c in title_j:
    jtitle=c.text
    job_title3.append(jtitle)
job_title3[0:10]

['Project Manager | Team Leader | Senior Data Scientist',
 'Immediate requirement For Data Scientist',
 'Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist I/II/III',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Data Scientist']

In [90]:
location3=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
location3[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="9a0d74ec-ab07-4987-8a16-af905c8559eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e14d7282-0b60-4c5e-be8c-233bb9863031")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="c3d46a94-d0a1-4b97-af66-f036a7b87a26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="dbd510ad-dc91-4703-a71d-289c3eea9547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="f71ba394-bba9-4dca-9bcc-8e0403242579")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="71f2fea1-d45d-4b21-9b1e-1dc831b851ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="3a66e0f7-0f5e-4c47-b394-0564d15af7ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="57ec46d1-e649-4211-b667-db18f99b8f16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="4183baa9-aac8-4c60-b863-e1d1f3b0f5ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="2618c0c8-55c0-4ece-83a2-353a688dbbf9")>]

In [91]:
companyname3=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companyname3[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="18f184a8-6c9f-44db-86fc-3e6ee15a42ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="27f26be3-1caf-4e3c-991b-588c56ef7c4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d93bcecc-bdd9-4b59-8a87-ea8a35195fb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="efbfa6e8-29c7-4d3d-ac20-1861d5ac7871")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="f09b47e1-2726-41c8-91ac-7594a23239e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d159f56c-20aa-4741-a34e-f49e5bbc7054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="a5d51968-dc86-4c8b-bb94-8129890d749c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="944fe2f3-3d90-4c72-aebb-2940d490d39f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="11b4ad62-92b7-406c-8e5b-69d99ba238c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="420bc97a-cbf9-41cc-ad31-19bbe12e6a2c")>]

In [92]:
for c in location3:
    loc3=c.text
    job_location3.append(loc3)
job_location3[0:10]

['Remote',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Tamia, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi / NCR',
 'Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram']

In [93]:
for c in companyname3:
    comp=c.text
    company_name.append(comp)
company_name[0:10]

['Tidyquant (OPC) Private Limited',
 'CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIMITED',
 'Verisk Analytics India Private Limited',
 'HCL Technologies',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'OLX India Pvt Ltd',
 'Newgen Software Technologies Ltd.',
 'Hexagon Geosystems Services India P.Ltd.',
 'Optum Global Solutions (India) Private Limited',
 'Milliman India Pvt Ltd']

In [94]:
exp3=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
exp3[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="78a48ba3-ee8e-454b-b03a-7cfe7ab71176")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="685089ec-afa5-4acb-95a0-e024b7ba69bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="6ffe7b59-0542-4d16-910c-0abb5aae7858")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="b2292de1-bf8f-41a6-980d-e73c10f3da71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="fcb5b965-c52e-40ef-9e42-7d1d03168ed5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="c69519c1-9227-4a28-90c0-867e630e7eb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="b43e772b-ffb0-4aad-8984-a93c0d99fa43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="2022e30a-6c94-4bf3-8e58-baf0d1593ac6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8cce106f-c9d2-451b-8e5d-82bfa90a3157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="14b9eac7-6e03-4afe-9c5e-a4322f177d73")>]

In [95]:
for c in exp3:
    exp=c.text
    exp_req.append(exp)
exp_req[0:10]

['2-7 Yrs',
 '2-7 Yrs',
 '1-2 Yrs',
 '4-7 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '6-11 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [96]:
jobf=pd.DataFrame({})
jobf['exp3']=exp_req[0:10]
jobf['companyname3']=company_name[0:10]
jobf['location3']=job_location3[0:10]
jobf['title_j']=job_title3[0:10]
jobf

,exp3,companyname3,location3,title_j
0,2-7 Yrs,Tidyquant (OPC) Private Limited,Remote,Project Manager | Team Leader | Senior Data Sc...
1,2-7 Yrs,CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIM...,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Immediate requirement For Data Scientist
2,1-2 Yrs,Verisk Analytics India Private Limited,Delhi / NCR,Data Scientist
3,4-7 Yrs,HCL Technologies,Delhi / NCR,Job Opportunity || Data Scientist || HCL Techn...
4,3-5 Yrs,EXL Services.com ( I ) Pvt. Ltd.,"Gurgaon/Gurugram, Bangalore/Bengaluru",Data Scientist
5,3-6 Yrs,OLX India Pvt Ltd,Gurgaon/Gurugram,Data Scientist I/II/III
6,2-5 Yrs,Newgen Software Technologies Ltd.,Noida,Data Scientist
7,6-11 Yrs,Hexagon Geosystems Services India P.Ltd.,"Gurgaon/Gurugram, Bangalore/Bengaluru",Data Scientist
8,2-7 Yrs,Optum Global Solutions (India) Private Limited,Noida,Associate Data Scientist
9,2-5 Yrs,Milliman India Pvt Ltd,Gurgaon/Gurugram,Data Scientist

In [97]:
print(len(exp_req),len(company_name),len(job_location3),len(job_title3))

20 20 20 20

# Question 8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field

Answer below:

In [98]:
#Opeing the site through url
url='https://www.flipkart.com'
driver.get(url)

In [100]:
#Locating search bar
search_bar=driver.find_element_by_class_name('_3704LK')
search_bar.clear()
search_bar.send_keys('sneakers')
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [101]:
#Creating the empty list
brand=[]
prod_desc=[]
pricef=[]
discount=[]

In [103]:
#Scraping the required Details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    brands=driver.find_elements_by_class_name('_2WkVRV')
    for i in brands:
        brand.append(i.text)
    desc=driver.find_elements_by_class_name('IRpwTa')
    for i in desc:
        prod_desc.append(i.get_attribute('title'))
    prices=driver.find_elements_by_xpath("//div[@class='_1vC4OE']")
    for i in prices[:40]:
        pricef.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='VGWI6T']")
    for i in disc:
        discount.append(i.text)

In [104]:
nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']/span[1]")
driver.get(nxt_button[page].get_attribute('href'))

IndexError: list index out of range

In [107]:
brnd=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

for b in brnd:
    brd=b.text
    brand.append(brd)
brand[0:10]

['SPARX',
 'BIRDE',
 'Shoes Bank',
 'BIRDE',
 'mannu',
 'Jabra',
 'Airland',
 'Bonexy',
 'Qtsy',
 'Creer']

In [113]:
desp=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

for b in desp:
    dp=b.text
    prod_desc.append(dp)
prod_desc[0:10]

['Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers for men(black_8) Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men']

In [121]:
prce=driver.find_elements_by_xpath('//div[@class="_25b18c"]')
prce
#for b in prce:
   # prc=b.text
    #pricef.append(prc)
#pricef[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="18a572f1-68ee-434b-bc2d-f7cf2799a907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d464d8c3-eab5-4e49-8f80-dc0c50e2235f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="6b43a36e-ba71-4a0a-a9a3-0fef84ca7464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d50de96d-1dc9-49f3-a082-0a7826c857c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="bd0b5f1e-2b56-4b37-a83f-3337f2a43636")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="c2c2d8fa-54e1-4be7-a5e6-2be38333e934")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="a9fcd49b-1589-4255-9b63-26d2c198eeeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8bd44c82-66b4-41bd-aa5b-f58f20b95b33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="aa53e85a-38b3-4e54-889a-4c2a12ecbc08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="fc867981-b7f5-41a2-9933-ebc10adb8c98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="bf4b4ba8-0ab6-4cae-8782-306659677c09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="f72fa7e2-332d-45f9-820e-bceb4b329c9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="87ccce54-c1e6-4b8d-b6ac-294430a010a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="6cc3e4c0-6ff7-4dd4-85c7-92cfb41b6153")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="67cd3eb1-0f50-4f33-abaf-422634bf3de7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8dde1ad1-d025-475e-8c50-87b13138018e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="75e3224c-afaf-4d4c-9ff7-3e8e3810dd25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e94c45a9-e74e-4e18-af9d-ef48ee4c2845")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="e935bf55-686b-4b12-b6e4-150d64e31d55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="c9bee6eb-f153-41cd-851b-662572daf312")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8f2abc64-8ebd-4881-97e2-436b129273d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="0f52ccd4-9e93-41e1-87b5-63563b3a7c8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="fd9c72c7-72e9-4396-ab2e-ab65a3a5c295")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="48911f3e-9846-43a0-a995-d86670643278")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="497af493-bbfc-4566-acd5-d5f36a821647")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="862260af-059b-416a-b000-7e52a63b6393")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="db0ab4d8-3a8d-42a7-b108-223a11d8acb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="0c2c5534-c503-4c9a-bc9a-12f409c472f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="863ea2d6-a6c9-407f-a3d2-dd9d25068b38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="3739c353-2c50-485e-872a-e3c958ccb415")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="be698159-e2e1-46de-a2b3-36d075f4bcc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="6f2e7b9e-7b0d-40ef-ae16-cb2ca0cb4170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="5ba6e8ae-eefc-4e77-80b9-9da6c46aafeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="9af59018-0122-472c-b148-c54597d7e27b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="d594a14e-ee76-4acc-8211-a67136539277")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="31444182-d896-4821-9eda-bf58e0d5a0c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="7d26794e-da10-4678-96be-ccd79186b033")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="aedb68b7-48fe-4d0e-b9c4-78e511b1639b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="88c7ca38-60b9-4c39-95ce-865bbec32f7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="13388291-7e02-4958-9224-68e2c849dc86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="f858b846-a591-48d2-97a9-3145ac574fe0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="38a0b32e-4970-4558-8c9c-afe225c592e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="0441e3c3-97ca-4416-a217-9e8eefc484bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="4a66e8e1-4fce-43da-9db3-89f21b4f06b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="5361e5b4-74d8-46bb-9218-8fe3c6760666")>]

# Question 7 : Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

In [122]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC')

In [123]:
ratings=[]
review=[]
fullreveiw=[]

In [124]:
rating=driver.find_elements_by_xpath('//div[@class="_2d4LTz"]')
rating

In [125]:
for r in rating:
    rate=r.text
    ratings.append(rate)
ratings

['4.6']

In [126]:
rev=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
rev

[<selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="875fbf5a-4842-491b-b754-78fb1a137944")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="be81d783-0ee0-46f2-b73e-c705bf409d2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="92083d73-94d9-4dc7-829a-dd0bd78f888a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="54e92b18-a46d-4438-a685-8e363538a6da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="9b69a273-718c-4264-b1eb-e90bbf07bb3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="8cffe41c-1b13-450d-9756-57ebb1da5030")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="b03b85c1-c080-4f43-bea2-a57ba69be1a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="6321a57b-7eaa-49d1-a56a-0eb1d4f5841d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="f236418c-3078-4fb0-b5fd-b4fd66a2f871")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e7fb64b4b29a77f5f1ed30686c7d806a", element="873dc906-90b1-4781-a567-3264cc7cb415")>]

In [127]:
for r in rev:
    revw=r.text
    review.append(revw)
review

['Brilliant', 'Simply awesome', 'Perfect product!', '', '', '', '', '', '', '']

In [169]:
fp=pd.DataFrame({})
fp['rating']=ratings[:1]
fp['rev']=review[:1]
#fp['fr']=fullreview[0:10]
fp

  rating        rev
0    4.6  Brilliant

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

This task will be done in following steps:

1.first get the webpage https://www.glassdoor.co.in/index.htm
2.Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3.Then click the search button. You will land up in the below page:
4.Then scrape the data for the first 10 jobs results you get in the above shown page.
5.Finally create a dataframe of the scraped data. Note- All of the above steps have to be done in code. No step is to be done manually.

In [128]:
url = "https://www.glassdoor.co.in/index.htm"

In [129]:
driver.get(url)

In [130]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [131]:
#Imputing the details in Blank boxes by using WebDriverWait:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.keyword']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.location']"))).send_keys("Noida India")

In [132]:
#Cliking on search button.
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [133]:
#creating empty list:
company_name = []
company_rating = []
No_of_days_ago = []

In [134]:
#scraping the tags company_name:
companies = driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']/span")

#Using for loop for iterations:
#Handling Null Values.
for i in companies:
    if i.text is None :
        company_name.append(" ") 
    else:
        company_name.append(i.text.replace('\n','').strip())
print(company_name[0:10])

['Instrovate Technologies', 'Pixel Vision', 'NatWest Group', 'UnitedHealth Group', 'AlgoScale Technologies Private Limited', 'Optum - India', 'Techlive', 'HDFC Bank', 'UnitedHealth Group', 'Biz2Credit Inc']

In [135]:
#scraping the tags company_ratings:
rating = driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")

#Using for loop for iterations:
#Handling Null Values.
for i in rating:
    if i.text is None :
        company_rating.append(" ") 
    else:
        company_rating.append(i.text.replace('\n','').strip())
print(company_rating[0:10])

['3.9', '', '4.0', '4.0', '3.7', '3.7', '4.3', '3.8', '3.8', '5.0']

In [136]:
#scraping the tags where no of days ago job was posted:
job_posted = driver.find_elements_by_xpath("//div[@data-test='job-age']")

#Using for loop for iterations:
#Handling Null Values.
for i in job_posted:
    if i.text is None :
        No_of_days_ago.append(" ") 
    else:
        No_of_days_ago.append(i.text[0])
print(No_of_days_ago[0:10])

['3', '8', '1', '1', '3', '2', '3', '8', '2', '3']

In [137]:
import pandas as pd
gd = pd.DataFrame({})
gd['company names'] = company_name[0:10]
gd['company_rating'] = company_rating[0:10]
gd['No_of_days_ago'] = No_of_days_ago[0:10]
gd

                            company names company_rating No_of_days_ago
0                 Instrovate Technologies            3.9              3
1                            Pixel Vision                             8
2                           NatWest Group            4.0              1
3                      UnitedHealth Group            4.0              1
4  AlgoScale Technologies Private Limited            3.7              3
5                           Optum - India            3.7              2
6                                Techlive            4.3              3
7                               HDFC Bank            3.8              8
8                      UnitedHealth Group            3.8              2
9                          Biz2Credit Inc            5.0              3

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location

You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps:

first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
Enter “Data Scientist” in Job title field and “Noida” in location field.
Click the search button.
After that you will land on the below page You have to scrape whole data from this webpage
Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
Store the data in a dataframe. Note that all of the above steps have to be done by coding only and not manually.

In [138]:
url = "https://www.glassdoor.co.in/Salaries/index.htm"

In [139]:
driver.get(url)

In [140]:
#Imputing the details in Blank boxes by using WebDriverWait:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='KeywordSearch']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='LocationSearch']"))).send_keys("Noida")

In [141]:
#Cliking on search button.
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [142]:
#creating empty list:
company_Name2 = []
minimum_salaries = []
average_salaries = []

In [143]:
#scraping the tags company_name:
companies2 = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

#Using for loop for iterations:
#Handling Null Values.
for i in companies2:
    if i.text is None :
        company_Name2.append(" ") 
    else:
        company_Name2.append(i.text.replace('\n','').strip())
print(company_Name2[0:10])

['Tata Consultancy Services', 'IBM', 'Accenture', 'Ericsson-Worldwide', 'UnitedHealth Group', 'Delhivery', 'EXL Service', 'Optum', 'ZS Associates', 'Optum Global Solutions']

In [147]:
#scraping the tags of minimum Salary:
minimum_salary = driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

#Using for loop for iterations:
#Handling Null Values.
for i in minimum_salary:
    if i.text is None :
        minimum_salaries.append(" ") 
    else:
        minimum_salaries.append(i.text.replace('\n','').strip())
print(minimum_salaries[0:10])

['Range: ₹4L - ₹13L', 'Range: ₹6L - ₹26L', 'Range: ₹6L - ₹23L', 'Range: ₹4L - ₹17L', 'Range: ₹8L - ₹16L', 'Range: ₹5L - ₹1Cr', 'Range: ₹6L - ₹20L', 'Range: ₹8L - ₹21L', 'Range: ₹2L - ₹22L', 'Range: ₹11L - ₹18L']

In [148]:
#scraping the tags of average Salary:
avg_salary = driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

#Using for loop for iterations:
#Handling Null Values.
for i in avg_salary:
    if i.text is None :
        average_salaries.append(" ") 
    else:
        average_salaries.append(i.text.replace('\n','').strip())
print(average_salaries[0:10])

['Range: ₹4L - ₹13L', 'Range: ₹6L - ₹26L', 'Range: ₹6L - ₹23L', 'Range: ₹4L - ₹17L', 'Range: ₹8L - ₹16L', 'Range: ₹5L - ₹1Cr', 'Range: ₹6L - ₹20L', 'Range: ₹8L - ₹21L', 'Range: ₹2L - ₹22L', 'Range: ₹11L - ₹18L']

In [149]:
import pandas as pd
gd2 = pd.DataFrame({})
gd2['companies'] = company_Name2[0:10]
gd2['minimum_salaries'] = minimum_salaries[0:10]
gd2['average_salaries'] = average_salaries[0:10]
gd2

                   companies    minimum_salaries    average_salaries
0  Tata Consultancy Services   Range: ₹4L - ₹13L   Range: ₹4L - ₹13L
1                        IBM   Range: ₹6L - ₹26L   Range: ₹6L - ₹26L
2                  Accenture   Range: ₹6L - ₹23L   Range: ₹6L - ₹23L
3         Ericsson-Worldwide   Range: ₹4L - ₹17L   Range: ₹4L - ₹17L
4         UnitedHealth Group   Range: ₹8L - ₹16L   Range: ₹8L - ₹16L
5                  Delhivery   Range: ₹5L - ₹1Cr   Range: ₹5L - ₹1Cr
6                EXL Service   Range: ₹6L - ₹20L   Range: ₹6L - ₹20L
7                      Optum   Range: ₹8L - ₹21L   Range: ₹8L - ₹21L
8              ZS Associates   Range: ₹2L - ₹22L   Range: ₹2L - ₹22L
9     Optum Global Solutions  Range: ₹11L - ₹18L  Range: ₹11L - ₹18L

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
Brand
Product Description
Price
Discount % The attributes which you have to scrape is ticked marked in the below image. To scrape the data you have to go through following steps:
Go to flipkart webpage by url https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
Now scrape data from this page as usual
repeat this until you get data for 100 sunglasses. Note that all of the above steps have to be done by coding only and not manually.

In [150]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.firefox.options import Options

In [151]:
driver.get('https://www.flipkart.com/')

In [152]:
#locating the search bar
search_bar=driver.find_element_by_class_name('_3704LK')
search_bar.clear()
search_bar.send_keys('sunglasses')

In [153]:
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [154]:
#creating the empty list
brand_names = []
price = []
description = []
discount = []

In [155]:
from bs4 import BeautifulSoup
import requests

In [156]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [157]:
#Using for loop and fetching tags for names.
for i in soup.find_all('div', attrs ={'class':'_2WkVRV'}):
    string = i.text
    brand_names.append(string.strip())
print(brand_names[0:100])

['Fastrack', 'VINCENT CHASE', 'Fastrack', 'PIRASO', 'PIRASO', 'Elligator', 'SHAAH COLLECTIONS', 'ROYAL SON', 'GANSTA', 'PIRASO', 'Silver Kartz', 'ROYAL SON', 'PHENOMENAL', 'ROZZETTA CRAFT', 'Fastrack', 'ROYAL SON', 'New Specs', 'kingsunglasses', 'Silver Kartz', 'Fastrack', 'kingsunglasses', 'NuVew', 'PHENOMENAL', 'ROYAL SON', 'Elligator', 'Fastrack', 'Rich Club', 'ROYAL SON', 'Singco India', 'Fastrack', 'Fastrack', 'VINCENT CHASE', 'hipe', 'SHAAH COLLECTIONS', 'Fastrack', 'Fastrack', 'Elligator', 'GANSTA', 'Silver Kartz', 'ROZZETTA CRAFT']

In [158]:
#Using for loop and fetching tags for Prices.
for i in soup.find_all('div', attrs ={'class':'_30jeq3'}):
    string = i.text
    price.append(string.strip())
print(price[0:100])

['₹519', '₹999', '₹519', '₹200', '₹200', '₹295', '₹198', '₹479', '₹239', '₹200', '₹194', '₹479', '₹319', '₹474', '₹559', '₹524', '₹299', '₹284', '₹224', '₹509', '₹213', '₹216', '₹379', '₹399', '₹233', '₹449', '₹199', '₹524', '₹183', '₹609', '₹575', '₹799', '₹210', '₹215', '₹782', '₹509', '₹266', '₹209', '₹201', '₹474', '₹224', '₹201', '₹399', '₹519', '₹183']

In [159]:
#Using for loop and fetching tags discounts.
for i in soup.find_all('div', attrs ={'class':'_3Ay6Sb'}):
    string = i.text
    discount.append(string.strip())
print(discount[0:100])

['42% off', '50% off', '42% off', '87% off', '87% off', '88% off', '88% off', '76% off', '88% off', '87% off', '87% off', '76% off', '84% off', '78% off', '44% off', '73% off', '81% off', '89% off', '81% off', '43% off', '80% off', '72% off', '81% off', '73% off', '90% off', '43% off', '60% off', '73% off', '81% off', '32% off', '28% off', '60% off', '85% off', '78% off', '39% off', '43% off', '86% off', '88% off', '83% off', '81% off', '81% off', '83% off', '73% off', '42% off', '81% off']

In [160]:
#Using for loop and fetching tags discounts.
for i in soup.find_all('div', attrs ={'class':'_1xHGtK _373qXS'}):
    string = i.text
    description.append(string.replace('\n','').strip())
list(description[0:100])

['AdFastrackUV Protection Wayfarer Sunglasses (Free Size)₹519₹89942% offCrazy Deal',
 'AdVINCENT CHASEby Lenskart UV Protection Wayfarer Sunglasses (51)₹999₹1,99950% offSize\xa0Medium',
 'BestsellerFastrackUV Protection Wayfarer Sunglasses (Free Size)₹519₹89942% offCrazy Deal',
 'PIRASOUV Protection Aviator Sunglasses (54)₹200₹1,59987% offCrazy Deal',
 'PIRASOUV Protection Aviator Sunglasses (54)₹200₹1,59987% offCrazy Deal',
 'ElligatorUV Protection Round Sunglasses (54)₹295₹2,49588% off',
 'SHAAH COLLECTIONSUV Protection, Polarized, Mirrored Rectangular Sunglass...₹198₹1,69988% off',
 'AdROYAL SONUV Protection Retro Square Sunglasses (88)₹479₹1,99976% off',
 'GANSTAUV Protection Aviator Sunglasses (57)₹239₹1,99988% offCrazy Deal',
 'PIRASOUV Protection Aviator Sunglasses (54)₹200₹1,59987% offCrazy Deal',
 'Silver KartzUV Protection Wayfarer Sunglasses (Free Size)₹194₹1,49987% off',
 'AdROYAL SONUV Protection Retro Square Sunglasses (88)₹479₹1,99976% off',
 'PHENOMENALUV Protection, Mirrored Retro Square Sunglasses (53)₹319₹1,99984% off',
 'ROZZETTA CRAFTUV Protection Retro Square Sunglasses (Free Size)₹474₹2,22578% off',
 'FastrackMirrored, UV Protection Wayfarer Sunglasses (Free Size)₹559₹99944% offBuy 2 items, save extra 5%',
 'AdROYAL SONPolarized, UV Protection Round Sunglasses (53)₹524₹1,99973% offCrazy Deal',
 'New SpecsMirrored, UV Protection, Riding Glasses, Others Round S...₹299₹1,59981% off',
 'kingsunglassesMirrored, UV Protection Wayfarer Sunglasses (Free Size)₹284₹2,59989% off',
 'Silver KartzUV Protection Oval Sunglasses (56)₹224₹1,19981% off',
 'AdFastrackUV Protection Wayfarer Sunglasses (Free Size)₹509₹89943% offCrazy Deal',
 'kingsunglassesUV Protection Round Sunglasses (54)₹213₹1,09980% off',
 'NuVewUV Protection, Night Vision, Riding Glasses Sports Sung...₹216₹78572% offCrazy Deal',
 'PHENOMENALUV Protection Retro Square Sunglasses (Free Size)₹379₹1,99981% off',
 'AdROYAL SONUV Protection Rectangular Sunglasses (58)₹399₹1,49973% off',
 'ElligatorUV Protection Round Sunglasses (53)₹233₹2,49590% off',
 'FastrackGradient, UV Protection Wayfarer Sunglasses (Free Size)₹449₹79943% offBuy 2 items, save extra 5%',
 'Rich ClubPolarized Round Sunglasses (48)₹199₹49960% off',
 'AdROYAL SONUV Protection, Gradient Butterfly Sunglasses (60)₹524₹1,99973% offCrazy Deal',
 'Singco IndiaUV Protection Round Sunglasses (Free Size)₹183₹99981% off',
 'FastrackUV Protection Shield Sunglasses (Free Size)₹609₹89932% offBuy 2 items, save extra 5%',
 'FastrackUV Protection Rectangular Sunglasses (Free Size)₹575₹79928% offBuy 2 items, save extra 5%',
 'AdVINCENT CHASEPolarized, UV Protection Wayfarer Sunglasses (53)₹799₹1,99960% offCrazy Deal',
 'hipeMirrored, UV Protection, Gradient Round Sunglasses (55)₹210₹1,46685% off',
 'SHAAH COLLECTIONSUV Protection, Polarized, Mirrored Rectangular Sunglass...₹215₹99978% off',
 'FastrackUV Protection Aviator Sunglasses (58)₹782₹1,29939% offBuy 2 items, save extra 5%',
 'AdFastrackUV Protection Aviator Sunglasses (Free Size)₹509₹89943% offBuy 2 items, save extra 5%',
 'ElligatorUV Protection Round Sunglasses (55)₹266₹1,99686% off',
 'GANSTAUV Protection, Riding Glasses Wayfarer Sunglasses (53)₹209₹1,79988% offBuy 2 items, save extra 5%',
 'Silver KartzUV Protection Aviator Sunglasses (88)₹201₹1,19983% off',
 'AdROZZETTA CRAFTUV Protection Retro Square Sunglasses (Free Size)₹474₹2,55681% off']

In [162]:
import pandas as pd
sung = pd.DataFrame({})
sung['brand_names'] = brand_names[0:40]
sung['price'] = price[0:40]
sung['discount'] = discount[0:40]
sung['description'] = description[0:40]

In [163]:
sung

,brand_names,price,discount,description
0,Fastrack,₹519,42% off,AdFastrackUV Protection Wayfarer Sunglasses (F...
1,VINCENT CHASE,₹999,50% off,AdVINCENT CHASEby Lenskart UV Protection Wayfa...
2,Fastrack,₹519,42% off,BestsellerFastrackUV Protection Wayfarer Sungl...
3,PIRASO,₹200,87% off,PIRASOUV Protection Aviator Sunglasses (54)₹20...
4,PIRASO,₹200,87% off,PIRASOUV Protection Aviator Sunglasses (54)₹20...
5,Elligator,₹295,88% off,ElligatorUV Protection Round Sunglasses (54)₹2...
6,SHAAH COLLECTIONS,₹198,88% off,"SHAAH COLLECTIONSUV Protection, Polarized, Mir..."
7,ROYAL SON,₹479,76% off,AdROYAL SONUV Protection Retro Square Sunglass...
8,GANSTA,₹239,88% off,GANSTAUV Protection Aviator Sunglasses (57)₹23...
9,PIRASO,₹200,87% off,PIRASOUV Protection Aviator Sunglasses (54)₹20...
10,Silver Kartz,₹194,87% off,Silver KartzUV Protection Wayfarer Sunglasses ...
11,ROYAL SON,₹479,76% off,AdROYAL SONUV Protection Retro Square Sunglass...
12,PHENOMENAL,₹319,84% off,"PHENOMENALUV Protection, Mirrored Retro Square..."
13,ROZZETTA CRAFT,₹474,78% off,ROZZETTA CRAFTUV Protection Retro Square Sungl...
14,Fastrack,₹559,44% off,"FastrackMirrored, UV Protection Wayfarer Sungl..."
15,ROYAL SON,₹524,73% off,"AdROYAL SONPolarized, UV Protection Round Sung..."
16,New Specs,₹299,81% off,"New SpecsMirrored, UV Protection, Riding Glass..."
17,kingsunglasses,₹284,89% off,"kingsunglassesMirrored, UV Protection Wayfarer..."
18,Silver Kartz,₹224,81% off,Silver KartzUV Protection Oval Sunglasses (56)...
19,Fastrack,₹509,43% off,AdFastrackUV Protection Wayfarer Sunglasses (F...
20,kingsunglasses,₹213,80% off,kingsunglassesUV Protection Round Sunglasses (...
21,NuVew,₹216,72% off,"NuVewUV Protection, Night Vision, Riding Glass..."
22,PHENOMENAL,₹379,81% off,PHENOMENALUV Protection Retro Square Sunglasse...
23,ROYAL SON,₹399,73% off,AdROYAL SONUV Protection Rectangular Sunglasse...
24,Elligator,₹233,90% off,ElligatorUV Protection Round Sunglasses (53)₹2...
25,Fastrack,₹449,43% off,"FastrackGradient, UV Protection Wayfarer Sungl..."
26,Rich Club,₹199,60% off,Rich ClubPolarized Round Sunglasses (48)₹199₹4...
27,ROYAL SON,₹524,73% off,"AdROYAL SONUV Protection, Gradient Butterfly S..."
28,Singco India,₹183,81% off,Singco IndiaUV Protection Round Sunglasses (Fr...
29,Fastrack,₹609,32% off,FastrackUV Protection Shield Sunglasses (Free ...
30,Fastrack,₹575,28% off,FastrackUV Protection Rectangular Sunglasses (...
31,VINCENT CHASE,₹799,60% off,"AdVINCENT CHASEPolarized, UV Protection Wayfar..."
32,hipe,₹210,85% off,"hipeMirrored, UV Protection, Gradient Round Su..."
33,SHAAH COLLECTIONS,₹215,78% off,"SHAAH COLLECTIONSUV Protection, Polarized, Mir..."
34,Fastrack,₹782,39% off,FastrackUV Protection Aviator Sunglasses (58)₹...
35,Fastrack,₹509,43% off,AdFastrackUV Protection Aviator Sunglasses (Fr...
36,Elligator,₹266,86% off,ElligatorUV Protection Round Sunglasses (55)₹2...
37,GANSTA,₹209,88% off,"GANSTAUV Protection, Riding Glasses Wayfarer S..."
38,Silver Kartz,₹201,83% off,Silver KartzUV Protection Aviator Sunglasses (...
39,ROZZETTA CRAFT,₹474,81% off,AdROZZETTA CRAFTUV Protection Retro Square Sun...