# Question No 1: Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [1]:
#importing all the required libraries
import pandas as pd
import selenium
from selenium import webdriver

from selenium.common.exceptions import  StaleElementReferenceException,ElementClickInterceptedException,ElementNotInteractableException   
from selenium.common.exceptions import  NoSuchElementException,NoSuchWindowException,InvalidSessionIdException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
#Defining the url:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"

In [4]:
#Getting the URL:
driver.get(url)

In [6]:
import time

ranks=[]

try:
    driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_rnks=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[1]")
    for a in search_rnks:
        ranks.append(a.text)
except InvalidSessionIdException as e:
    driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_rnks=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[1]")
    for a in search_rnks:
        ranks.append(a.text)
except NoSuchElementException as e:
    print("exception raised:",e)
    search_rnks=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[1]")
    ranks.append(a.text)
    
    
ranks

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [7]:
names=[]
try:
    driver=webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_nms=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[2]")
    for a in search_nms:
        
        names.append(a.text)
except InvalidSessionIdException as e:
    driver=webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_nms=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[2]")
    for a in search_nms:
        names.append(a.text)
except NoSuchElementException as e:
    print("exception raised:",e)
    search_nms=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[2]")
    names.append(a.text)
    
    
names

['"Baby Shark Dance"[23]',
 '"Despacito"[25]',
 '"Johny Johny Yes Papa"[26]',
 '"Shape of You"[27]',
 '"See You Again"[28]',
 '"Bath Song"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[32]',
 '"Masha and the Bear – Recipe for Disaster"[33]',
 '"Uptown Funk"[34]',
 '"Phonics Song with Two Words"[35]',
 '"Gangnam Style"[36]',
 '"Dame Tu Cosita"[38]',
 '"Sugar"[39]',
 '"Sorry"[40]',
 '"Roar"[41]',
 '"Counting Stars"[42]',
 '"Thinking Out Loud"[43]',
 '"Wheels on the Bus"[44]',
 '"Faded"[45]',
 '"Dark Horse"[46]',
 '"Girls Like You"[47]',
 '"Lean On"[48]',
 '"Bailando"[49]',
 '"Shake It Off"[50]',
 '"Let Her Go"[51]',
 '"Axel F"[52]',
 '"Perfect"[53]',
 '"Mi Gente"[54]',
 '"Waka Waka (This Time for Africa)"[55]',
 '"Hello"[56]']

In [8]:
import re
names_list=[]
for i in range(len(names)):
    nam=''
    nam=names[i]
    quoted = re.compile('"[^"]*"')
    for value in quoted.findall(nam):
        names_list.append(value)
names_list

['"Baby Shark Dance"',
 '"Despacito"',
 '"Johny Johny Yes Papa"',
 '"Shape of You"',
 '"See You Again"',
 '"Bath Song"',
 '"Learning Colors – Colorful Eggs on a Farm"',
 '"Masha and the Bear – Recipe for Disaster"',
 '"Uptown Funk"',
 '"Phonics Song with Two Words"',
 '"Gangnam Style"',
 '"Dame Tu Cosita"',
 '"Sugar"',
 '"Sorry"',
 '"Roar"',
 '"Counting Stars"',
 '"Thinking Out Loud"',
 '"Wheels on the Bus"',
 '"Faded"',
 '"Dark Horse"',
 '"Girls Like You"',
 '"Lean On"',
 '"Bailando"',
 '"Shake It Off"',
 '"Let Her Go"',
 '"Axel F"',
 '"Perfect"',
 '"Mi Gente"',
 '"Waka Waka (This Time for Africa)"',
 '"Hello"']

In [9]:
Artists=[]
try:
    driver=webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_artst=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[3]")
    for a in search_artst:
        Artists.append(a.text)
except InvalidSessionIdException as e:
    driver=webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_artst=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[3]")
    for a in search_artst:
        Artists.append(a.text)
except NoSuchElementException as e:
    print("exception raised:",e)
    search_artst=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[3]")
    Artists.append(a.text)
    
    
Artists

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Get Movies',
 'Mark Ronson',
 'ChuChu TV',
 'Psy',
 'El Chombo',
 'Maroon 5',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Alan Walker',
 'Katy Perry',
 'Maroon 5',
 'Major Lazer',
 'Enrique Iglesias',
 'Taylor Swift',
 'Passenger',
 'Crazy Frog',
 'Ed Sheeran',
 'J Balvin',
 'Shakira',
 'Adele']

In [10]:
Upload_date=[]
try:
    
    search_date=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[5]")
    for a in search_date:
        Upload_date.append(a.text)

except NoSuchElementException as e:
    print("exception raised:",e)
    search_date=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[5]")
    Upload_date.append(a.text)
    
    
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'February 27, 2018',
 'January 31, 2012',
 'November 19, 2014',
 'March 6, 2014',
 'July 15, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'December 3, 2015',
 'February 20, 2014',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014',
 'August 18, 2014',
 'July 25, 2012',
 'June 16, 2009',
 'November 9, 2017',
 'June 29, 2017',
 'June 4, 2010',
 'October 22, 2015']

In [11]:
Views=[]
try:
    
    search_views=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[4]")
    for a in search_views:
        Views.append(a.text)

except NoSuchElementException as e:
    print("exception raised:",e)
    search_views=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[4]")
    Views.append(a.text)
    
    
Views

['9.58',
 '7.61',
 '5.85',
 '5.51',
 '5.31',
 '4.60',
 '4.53',
 '4.47',
 '4.34',
 '4.27',
 '4.24',
 '3.67',
 '3.58',
 '3.48',
 '3.46',
 '3.43',
 '3.35',
 '3.33',
 '3.17',
 '3.17',
 '3.16',
 '3.12',
 '3.12',
 '3.11',
 '3.11',
 '3.08',
 '3.00',
 '3.00',
 '2.98',
 '2.90']

In [13]:
import pandas as pd
Youtubevid=pd.DataFrame({})
Youtubevid['Rank']=ranks
Youtubevid['Video Names']=names_list        
Youtubevid['Artist']=Artists 
Youtubevid['Upload date']=Upload_date 
Youtubevid['Views (Billions)']=Views
Youtubevid.style.hide_index()

# Question No 2: Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [14]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
url_1 = "https://www.bcci.tv/international/fixtures"

In [16]:
driver.get(url_1)

In [17]:
#Creating Empty List:
Team = []
Ground = []
Test_ODI = []

In [18]:
#scraping the tags for Teams name playing against India:
team_names = driver.find_elements_by_xpath("//div[@class='fixture__teams']")

#Using for loop for iterations
#Handling Null Values.
for i in team_names:
    if i.text is None:
        Team.append(" ") 
    else:
        Team.append(i.text.replace('\n','').strip())
print(Team[0:10])

['INDIAvNAMIBIA', 'INDIAvNEW ZEALAND', 'INDIAvNEW ZEALAND', 'INDIAvNEW ZEALAND', 'INDIAvNEW ZEALAND', 'INDIAvNEW ZEALAND', 'INDIAvWEST INDIES', 'INDIAvWEST INDIES', 'INDIAvWEST INDIES', 'INDIAvWEST INDIES']

In [19]:
#scraping the tags for Ground Name:
ground_name = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")

#Using for loop for iterations
#Handling Null Values.
for i in ground_name:
    if i.text is None:
        Ground.append(" ") 
    else:
        Ground.append(i.text.replace('\n','').strip())
print(Ground[0:10])

['Dubai International Stadium, Dubai', 'Sawai Mansingh Stadium, Jaipur', 'JSCA International Stadium Complex, Ranchi', 'Eden Gardens, Kolkata', 'Green Park, Kanpur', 'Wankhede Stadium, Mumbai', 'Narendra Modi Stadium, Ahmedabad', 'Sawai Mansingh Stadium, Jaipur', 'Eden Gardens, Kolkata', 'Barabati Stadium, Cuttack']

In [20]:
#scraping the tags for test and ODI:
matches = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")

#Using for loop for iterations
#Handling Null Values.
for i in matches:
    if i.text is None:
        Test_ODI.append(" ") 
    else:
        Test_ODI.append(i.text.replace('\n','').strip())
print(Test_ODI[0:10])

['Match 42', '1st T20I', '2nd T20I', '3rd T20I', '1st Test', '2nd Test', '1st ODI', '2nd ODI', '3rd ODI', '1st T20I']

In [21]:
#Defing a Dataframe:
fix=pd.DataFrame([])
fix['Team'] = Team[0:10]
fix['Series'] = Test_ODI[0:10]
fix['Ground'] = Ground[0:10]
fix.head(10)

                Team    Series                                      Ground
0      INDIAvNAMIBIA  Match 42          Dubai International Stadium, Dubai
1  INDIAvNEW ZEALAND  1st T20I              Sawai Mansingh Stadium, Jaipur
2  INDIAvNEW ZEALAND  2nd T20I  JSCA International Stadium Complex, Ranchi
3  INDIAvNEW ZEALAND  3rd T20I                       Eden Gardens, Kolkata
4  INDIAvNEW ZEALAND  1st Test                          Green Park, Kanpur
5  INDIAvNEW ZEALAND  2nd Test                    Wankhede Stadium, Mumbai
6  INDIAvWEST INDIES   1st ODI            Narendra Modi Stadium, Ahmedabad
7  INDIAvWEST INDIES   2nd ODI              Sawai Mansingh Stadium, Jaipur
8  INDIAvWEST INDIES   3rd ODI                       Eden Gardens, Kolkata
9  INDIAvWEST INDIES  1st T20I                   Barabati Stadium, Cuttack

# Question No 3: Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

In [128]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")
url_2 = "https://www.guru99.com/"

In [129]:
driver.get(url_2)

In [130]:
import time

In [131]:
time.sleep(10)

In [132]:
search_bar2=driver.find_element_by_xpath("//input[@class='gsc-input']")

In [133]:
try:
    search_bar2.send_keys("Selenium Exception Handling")
except ElementNotInteractableException as e:
    search_bar2.send_keys("Selenium Exception Handling")

In [134]:
time.sleep(1)

In [135]:
try:
    search_btn=driver.find_element_by_xpath("//td[@class='gsc-search-button']")
except NoSuchElementException as e:
    search_btn=driver.find_element_by_xpath("//td[@class='gsc-search-button']")

In [136]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [137]:
try:
    search_btn1=driver.find_element_by_xpath("//a[@data-ctorig='https://www.guru99.com/exception-handling-selenium.html']")
except NoSuchElementException as e:
    search_btn1=driver.find_element_by_xpath("//a[@data-ctorig='https://www.guru99.com/exception-handling-selenium.html']")

In [138]:
exception_names=[]
try:
    next_link=search_btn1.get_attribute("href")
    search_btn1.click()
    driver.get(next_link)
    driver.get(driver.current_url)
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
    for a in search_exception_details:
        exception_names.append(a.text)
        
except StaleElementReferenceException as e:
    next_link=search_btn1.get_attribute("href")
    search_btn1.click()
    driver.get(next_link)
    driver.get(driver.current_url)
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
    for a in search_exception_details:
        exception_names.append(a.text)


exception_names

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [139]:
driver.get(driver.current_url)

In [140]:
exception_details=[]
try:
    
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for a in search_exception_details:
        exception_details.append(a.text)
        
except StaleElementReferenceException as e:
    
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for a in search_exception_details:
        exception_details.append(a.text)


exception_details

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [141]:
Nos=[]
for i in range(1,len(exception_names)+1):
    Nos.append(i)

In [142]:
import pandas as pd
selexp=pd.DataFrame({})
selexp['Nos']=Nos
selexp['Exception name']=exception_names    
selexp['Description']=exception_details
selexp.style.hide_index()

# Question 4-Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP at current price (19-20) D) GSDP at current price (18-19) E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [32]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")
# opening url
driver.get('http://statisticstimes.com/')

In [33]:
# opening the indian GDP page
a = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
driver.get(a.get_attribute('href'))

In [34]:
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [35]:
rank = []
state = []
gdp_1920 = []
gdp_1819 = []
share = []
gdp = []

In [38]:
# scraping rank
for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]'):
    rank.append(i.text)

#scraping state
for j in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]'):
    state.append(j.text)

# scraping GSDP 19-20
for k in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]'):
    gdp_1920.append(k.text)
    
# scraping GSDP 18-19
for l in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]'):
    gdp_1819.append(l.text)
    
# scraping share
for m in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]'):
    share.append(m.text)
    
# scraping GDP
for n in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]'):
    gdp.append(n.text)

In [40]:
stats = pd.DataFrame({})
stats['Rank'] = rank[:20]
stats['State'] = state[:20]
stats['GSDP at current price(19-20)'] = gdp_1920[:20]
stats['GSDP at current price(18-19)'] = gdp_1819[:20]
stats['Share'] = share[:20]
stats['GDP'] = gdp[:20]
stats

,Rank,State,GSDP at current price(19-20),GSDP at current price(18-19),Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351

# Question No 5: Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [41]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")

In [42]:
url_3 = "https://github.com/"

In [43]:
driver.get(url_3)

In [44]:
#Creating Empty List:
Repository_Name =[]
Language = []
Description = []
Muted_Link = []

In [45]:
#clicking the search button for locating explore:
search_1 = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details')     
search_1.click()

In [46]:
#clicking the search button for locating page:
search_2 = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]')    
search_2.click()

In [47]:
#scraping the tags for repository name:
repository = driver.find_elements_by_xpath("//span[@class='text-normal']")

#Using for loop for iterations
#Handling Null Values.
for i in repository:
    if i.text is None:
        Repository_Name.append(" ") 
    else:
        Repository_Name.append(i.text.replace('/','').strip())
print(Repository_Name[0:10])

['DrKLO', 'commaai', 'flutter', 'pi-hole', 'coolsnowwolf', 'Python-World', 'babysor', 'bevyengine', 'AsyncBanana', 'smartcontractkit']

In [48]:
#scraping the tags for Language:
language = driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")

#Using for loop for iterations
#Handling Null Values.
for i in language:
    if i.text is None:
        Language.append(" ") 
    else:
        Language.append(i.text.replace('/','').strip())
print(Language[0:10])

['Java', 'Python', 'Dart', 'Shell', 'C', 'Python', 'JavaScript', 'Rust', 'JavaScript', 'TypeScript']

In [49]:
#scraping the tags for description:
description = driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")

#Using for loop for iterations
#Handling Null Values.
for i in description:
    if i.text is None:
        Description.append(" ") 
    else:
        Description.append(i.text.replace('/','').strip())
print(Description[0:10])

['Telegram for Android source', 'openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for over 100 supported car makes and models.', 'Flutter makes it easy and fast to build beautiful apps for mobile and beyond', 'A black hole for Internet advertisements', "Lean's OpenWrt source", 'A collection of simple python mini projects to enhance your python skills', '🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 seconds to generate arbitrary speech in real-time', 'A refreshingly simple data-driven game engine built in Rust', 'A fast, zero dependency object and array comparison library. Significantly faster than most other deep comparison libraries and has full TypeScript support.', 'Ultimate Solidity, Blockchain, and Smart Contract - Beginner to Expert Full Course | Python Edition']

In [50]:
#scraping the tags for muted link:
try:
    muted_link = driver.find_elements_by_xpath("//div[@class='Link--muted d-inline-block mr-3']/a[2]")
    for i in muted_link:
        Muted_Link.append(" ") 
except NoSuchElementException as e:
    muted_link = driver.find_elements_by_xpath("//div[@class='Link--muted d-inline-block mr-3']/a[2]")
    Muted_Link.append(i.text)
print(Muted_Link[0:10])

[]

In [51]:
Contri=[]
Contri=[x for x in Muted_Link if x]

Contri

[]

In [58]:
import pandas as pd
Trend_Repo=pd.DataFrame({})

Trend_Repo['Repository title']=Repository_Name[:10]
Trend_Repo['Repository Description']=Description[:10] 
#Trend_Repo['Muted_Link']=Muted_Link[:10]
Trend_Repo['Language used']=Language[:10]
Trend_Repo.style.hide_index()

# Question No 6: Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/

In [59]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")

In [60]:
url_4 = "https://www.billboard.com/"

In [61]:
driver.get(url_4)

In [62]:
Song_Name = []
Singer = []
Rank = []
Last_Week = []
Weeks_on_board = []

In [63]:
#clicking the search button for locating top 100:
search_1 = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]')     
search_1.click()

In [64]:
#scraping the tags for rank:
rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")

#Using for loop for iterations
#Handling Null Values.
for i in rank:
    if i.text is None:
        Rank.append(" ") 
    else:
        Rank.append(i.text.replace('/','').strip())
print(Rank[0:10])

['1', '1', '2', '1', '1', '1', '1', '8', '2', '10']

In [65]:
#scraping the tags for song name:
song_name = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")

#Using for loop for iterations
#Handling Null Values.
for i in song_name:
    if i.text is None:
        Song_Name.append(" ") 
    else:
        Song_Name.append(i.text.replace('/','').strip())
print(Song_Name[0:10])

['Certified Lover Boy', 'Dangerous: The Double Album', 'Planet Her', 'Sincerely, Kentrell', 'Sour', "A Gangsta's Pain", 'Punk', 'Blue Banisters', 'Montero', 'The Lockdown Sessions']

In [66]:
#scraping the tags for singer:
singer = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")

#Using for loop for iterations
#Handling Null Values.
for i in singer:
    if i.text is None:
        Singer.append(" ") 
    else:
        Singer.append(i.text.replace('/','').strip())
print(Singer[0:10])

['Drake', 'Morgan Wallen', 'Doja Cat', 'YoungBoy Never Broke Again', 'Olivia Rodrigo', 'Moneybagg Yo', 'Young Thug', 'Lana Del Rey', 'Lil Nas X', 'Elton John']

In [67]:
#scraping the tags for last week rank:
last_week_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
#Using for loop for iterations
#Handling Null Values.
for i in last_week_rank:
    if i.text is None:
        Last_Week.append(" ") 
    else:
        Last_Week.append(i.text.replace('/','').strip())
print(Last_Week[0:10])

['2', '8', '7', '6', '9', '34', '1', '-', '10', '-']

In [68]:
#scraping the tags for week on board:
week_on_board = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

#Using for loop for iterations
#Handling Null Values.
for i in week_on_board:
    if i.text is None:
        Weeks_on_board.append(" ") 
    else:
        Weeks_on_board.append(i.text.replace('/','').strip())
print(Weeks_on_board[0:10])

['8', '42', '18', '5', '23', '27', '2', '1', '6', '1']

In [69]:
#Defining a Dataframe:
Top_Song = pd.DataFrame([])
Top_Song['Rank'] = Rank[0:100]
Top_Song['Song_Name'] = Song_Name[0:100]
Top_Song['Singer'] = Singer[0:100]
Top_Song['Last_Week_Rank'] = Last_Week[0:100]
Top_Song['Weeks_on_board'] = Weeks_on_board[0:100]
Top_Song.head(100)

,Rank,Song_Name,Singer,Last_Week_Rank,Weeks_on_board
0,1,Certified Lover Boy,Drake,2,8
1,1,Dangerous: The Double Album,Morgan Wallen,8,42
2,2,Planet Her,Doja Cat,7,18
3,1,"Sincerely, Kentrell",YoungBoy Never Broke Again,6,5
4,1,Sour,Olivia Rodrigo,9,23
...,...,...,...,...,...
95,20,Divinely Uninspired To A Hellish Extent,Lewis Capaldi,94,128
96,31,The Essential Michael Jackson,Michael Jackson,97,372
97,5,Legend: The Best Of...,Bob Marley And The Wailers,96,702
98,1,Metallica,Metallica,78,631
99,26,La 167,Farruko,80,4

# Question No 7: Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

In [143]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")

In [144]:
url_5 = "https://www.naukri.com/data-science-jobs?k=data%20science"

In [145]:
 driver.get(url_5)

In [146]:
time.sleep(1)

In [147]:
search_btn6=driver.find_element_by_xpath("//a[@title='Search Recruiters']")

In [148]:
try:
    
    search_btn6.click()
    time.sleep(3)
    
    time.sleep(30)
    
    
except NoSuchElementException as e:
    search_btn6.click()
    time.sleep(3)
    
    time.sleep(30)

In [149]:
try:
    next_link=search_btn6.get_attribute("href")
    driver.get(next_link)
    driver.get(driver.current_url)
    search_BAR=driver.find_element_by_xpath("//input[@class='sugInp']")
    search_BAR.send_keys("Data science")
    search_BTN=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
    search_BTN.click()

except NoSuchElementException as e:
    next_link=search_btn6.get_attribute("href")
    driver.get(next_link)
    driver.get(driver.current_url)
    search_BAR=driver.find_element_by_xpath("//input[@class='sugInp']")
    search_BAR.send_keys("Data science")
    search_BTN=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
    search_BTN.click()

In [150]:
Rec_name=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_name=driver.find_elements_by_xpath("//p[@class='highlightable']//a[1]")
    for a in search_Rec_name:
        Rec_name.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_name=driver.find_elements_by_xpath("//p[@class='highlightable']//a[1]")
    Rec_name.append(a.text)

Rec_name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Narasimha',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Kapil Devang',
 'Mahesh Babu Channa',
 'Sandhya Khandagale',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Jayanth N',
 'Radha Manivasagam',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'SREEDHAR',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury']

In [151]:
Rec_Designation=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_Designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    for a in search_Rec_Designation:
        Rec_Designation.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_Designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    Rec_Designation.append(a.text)

Rec_Designation

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'Company Recruiter',
 'HR Administrator',
 'Director',
 'Human Resource',
 'HR Manager',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'Senior Executive Talent Acquisition',
 'HR Manager',
 'HR Team Lead',
 'HR Recruiter',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Project Manager',
 'HR Executive',
 'Senior Manager',
 'Company Recruitment Head',
 'Recruitment Consultant',
 'Head',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner']

In [152]:
Rec_company=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_company=driver.find_elements_by_xpath("//p[@class='highlightable']//a[1]")
    for a in search_Rec_company:
        Rec_company.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_company=driver.find_elements_by_xpath("//p[@class='highlightable']//a[1]")
    Rec_company.append(a.text)

Rec_company

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Narasimha',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Kapil Devang',
 'Mahesh Babu Channa',
 'Sandhya Khandagale',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Jayanth N',
 'Radha Manivasagam',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'SREEDHAR',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury']

In [153]:
job_skills=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_job_skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for a in search_job_skills:
        job_skills.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_job_skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    job_skills.append(a.text)

job_skills

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Data Modeling, Data Wrangling, seaborn, eda, python, r, Data Science, ai, Machine Learning, Deep Learning, Neural Networks',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Python, Artificial Intelligence, Machine Learning, Data Science',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing']

In [154]:
Location=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_Location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    for a in search_Location:
        Location.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_Location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    Location.append('_')

Location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Hyderabad / Secunderabad',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Pune',
 'Bhopal',
 'Hyderabad / Secunderabad',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Mysoru / Mysore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Noida',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai']

In [155]:
Nos=[]
for i in range(1,len(Rec_name)+1):
    Nos.append(i)

In [158]:
import pandas as pd
Dscrecruit=pd.DataFrame({})
Dscrecruit['Nos']=Nos[:10]
Dscrecruit['Name']=Rec_name[:10]    
Dscrecruit['Designation']=Rec_Designation[:10]    
Dscrecruit['Company']=Rec_company[:10]    
Dscrecruit['Skills they hire for']=job_skills[:10]    
Dscrecruit['Location']=Location[:10]    
Dscrecruit.style.hide_index()

# Question No 8: Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [94]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")

In [95]:
url_6 = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

In [96]:
driver.get(url_6)

In [97]:
#Creating Empty List:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [98]:
#scraping the tags for Book_name 
book_name = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in book_name:
    if i.text is None :
        Book_name.append(" ") 
    else:
        Book_name.append(i.text.replace('\n','').strip())
print(Book_name[0:10])

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition"]

In [99]:
#scraping the tags for Author_name 
author_name  = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in author_name:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text.replace('\n','').strip())
print(Author_name[0:10])

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.']

In [100]:
#scraping the tags for Publisher 
publisher  = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in publisher:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text.replace('\n','').strip())
print(Publisher[0:10])

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury']

In [101]:
#scraping the tags for Volumes_sold  
volumes_sold   = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None :
        Volumes_sold.append(" ") 
    else:
        Volumes_sold.append(i.text.replace('\n','').strip())
print(Volumes_sold[0:10])

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264']

In [102]:
#scraping tags for Genre 
genere = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in genere:
    if i.text is None :
        Genre.append(" ") 
    else:
        Genre.append(i.text.replace('\n','').strip())
print(Genre[0:10])

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction"]

In [103]:
Book = pd.DataFrame([])
Book['Book_name'] = Book_name[0:10]
Book['Author_name'] = Author_name[0:10]
Book['Genre'] = Genre[0:10]
Book['Publisher'] = Publisher[0:10]
Book['Volumes_sold'] = Volumes_sold[0:10]
Book.head(10)

,Book_name,Author_name,Genre,Publisher,Volumes_sold
0,"Da Vinci Code,The","Brown, Dan","Crime, Thriller & Adventure",Transworld,"5,094,805"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,475,152"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,200,654"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,179,479"
4,Fifty Shades of Grey,"James, E. L.",Romance & Sagas,Random House,"3,758,936"
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.",Children's Fiction,Bloomsbury,"3,583,215"
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.",Children's Fiction,Bloomsbury,"3,484,047"
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.",Children's Fiction,Bloomsbury,"3,377,906"
8,Angels and Demons,"Brown, Dan","Crime, Thriller & Adventure",Transworld,"3,193,946"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.",Children's Fiction,Bloomsbury,"2,950,264"

# Question No 9:  Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/

In [104]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")

In [105]:
url_7 = "https://www.imdb.com/list/ls095964455/"

In [106]:
driver.get(url_7)

In [107]:
#Creating Empty List:
Name = []
Year_span = []
Genres = []
Run_time = []
Ratings = []
Votes = []

In [108]:
#scraping the tags for Name 
name = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text.replace('\n','').strip())
print(Name[0:10])

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow']

In [109]:
#scraping the tags Year_span 
year_span = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year_span:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text.replace('\n','').strip())
print(Year_span[0:10])

['(2011–2019)', '(2016– )', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017– )', '(2005– )', '(2014– )', '(2012–2020)']

In [110]:
#scraping the Genres 
genere = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in genere:
    if i.text is None :
        Genres.append("--") 
    else:
        Genres.append(i.text.replace('\n','').strip())
print(Genres[0:10])

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime']

In [111]:
#scraping the tags Run_time 
runtime = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in runtime:
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)
print(Run_time[0:10])

['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min']

In [112]:
#scraping the tags Ratings 
ratings = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in ratings:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text.replace('\n','').strip())
print(Ratings[0:10])

['9.2', '8.7', '8.2', '7.5', '7.6', '8', '6.7', '7.5', '7.6', '7.5']

In [113]:
#scraping the tags Votes 
votes = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
for i in votes:
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text.replace('\n','').strip())
print(Votes[0:10])

['1,895,644', '926,921', '910,646', '272,499', '232,918', '288,435', '132,094', '277,677', '326,698', '419,064']

In [114]:
#Defining a Dataframe:
TV_Series = pd.DataFrame([])
TV_Series['Name'] = Name[0:10]
TV_Series['Year_span'] = Year_span[0:10]
TV_Series['Run_time'] = Run_time[0:10]
TV_Series['Genres'] = Genres[0:10]
TV_Series['Ratings'] = Ratings[0:10]
TV_Series['Votes'] = Votes[0:10]
TV_Series.head(10)

,Name,Year_span,Run_time,Genres,Ratings,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.2,"1,895,644"
1,Stranger Things,(2016– ),51 min,"Drama, Fantasy, Horror",8.7,"926,921"
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.2,"910,646"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.5,"272,499"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"232,918"
5,Orange Is the New Black,(2013–2019),59 min,"Comedy, Crime, Drama",8,"288,435"
6,Riverdale,(2017– ),45 min,"Crime, Drama, Mystery",6.7,"132,094"
7,Grey's Anatomy,(2005– ),41 min,"Drama, Romance",7.5,"277,677"
8,The Flash,(2014– ),43 min,"Action, Adventure, Drama",7.6,"326,698"
9,Arrow,(2012–2020),42 min,"Action, Adventure, Crime",7.5,"419,064"

# Question No 10: Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/

In [115]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32\chromedriver.exe")

In [116]:
url_8 = "https://archive.ics.uci.edu/ml/index.php"

In [117]:
driver.get(url_8)

In [118]:
#Creating Empty List:
Dataset_Name = []
Data_Type = []
Task = []
Attribute_Type = []
No_of_Instances = []
No_of_Attribute = []
Year = []

In [119]:
#clicking the search button for locating datasets:
search_1 = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')   
search_1.click()

In [120]:
#scraping the Dataset_Name 
name = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in name:
    if i.text is None :
        Dataset_Name.append("--") 
    else:
        Dataset_Name.append(i.text.replace('\n','').strip())
print(Dataset_Name[0:10])

['Abalone', 'Adult', 'Annealing', 'Anonymous Microsoft Web Data', 'Arrhythmia', 'Artificial Characters', 'Audiology (Original)', 'Audiology (Standardized)', 'Auto MPG', 'Automobile']

In [121]:
#scraping the Data_Type 
d_type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
for i in d_type:
    if i.text is None :
        Data_Type.append(" ") 
    else:
        Data_Type.append(i.text.replace('\n','').strip())
print(Data_Type[0:10])

['Data Types', 'Multivariate', 'Multivariate', 'Multivariate', '', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate']

In [122]:
#scraping the tags for Task 
task = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
for i in task:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text.replace('\n','').strip())
print(Task[0:10])

['Default Task', 'Classification', 'Classification', 'Classification', 'Recommender-Systems', 'Classification', 'Classification', 'Classification', 'Classification', 'Regression']

In [123]:
#scraping the Attribute_Type 
attributes = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
for i in attributes:
    if i.text is None :
        Attribute_Type.append("--") 
    else:
        Attribute_Type.append(i.text.replace('\n','').strip())
print(Attribute_Type[0:10])

['Attribute Types', 'Categorical, Integer, Real', 'Categorical, Integer', 'Categorical, Integer, Real', 'Categorical', 'Categorical, Integer, Real', 'Categorical, Integer, Real', 'Categorical', 'Categorical', 'Categorical, Real']

In [124]:
#scraping the No_of_Instances 
number_of_instances = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
for i in number_of_instances:
    if i.text is None :
        No_of_Instances.append("--") 
    else:
        No_of_Instances.append(i.text.replace('\n','').strip())
print(No_of_Instances[1:10])

['4177', '48842', '798', '37711', '452', '6000', '226', '226', '398']

In [125]:
#scraping the Year 
year = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in year:
    if i.text is None :
        Year.append(" ") 
    else:
        Year.append(i.text)
print(Year[1:10])

['1995 ', '1996 ', ' ', '1998 ', '1998 ', '1992 ', '1987 ', '1992 ', '1993 ']

In [126]:
#Defining a Dataframe:
UCI=pd.DataFrame([])
UCI['Dataset_Name'] = Dataset_Name[1:100]
UCI['Data_Type'] = Data_Type[1:100]
UCI['Task'] = Task[1:100]
UCI['Attribute_Type'] = Attribute_Type[1:100]
UCI['No_of_Instances'] = No_of_Instances[1:100]
UCI['Year'] = Year[1:100]
UCI.head(10)

,Dataset_Name,Data_Type,Task,Attribute_Type,No_of_Instances,Year
0,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,1995
1,Annealing,Multivariate,Classification,"Categorical, Integer",48842,1996
2,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,
3,Arrhythmia,,Recommender-Systems,Categorical,37711,1998
4,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",452,1998
5,Audiology (Original),Multivariate,Classification,"Categorical, Integer, Real",6000,1992
6,Audiology (Standardized),Multivariate,Classification,Categorical,226,1987
7,Auto MPG,Multivariate,Classification,Categorical,226,1992
8,Automobile,Multivariate,Regression,"Categorical, Real",398,1993
9,Badges,Multivariate,Regression,"Categorical, Integer, Real",205,1987